
@using DEMODoAn.Models
@model IEnumerable<SanPham>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/Content/css/Product.css" rel="stylesheet" />

<div class="new-products">


    @foreach (var item in Model)
    {
        <a href="@Url.Action("Detail","Product",new {@id =item.masanpham})">
            <div class="product-small box ">
                <div class="box-image">
                    <div class="image-fade_in_back">

                        <img width="300" height="300" src="@item.hinh1">

                       

                        
                        <div class="image-tools is-small top right show-on-hover">
                        </div>
                        <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                        </div>
                        <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                        </div>
                    </div><!-- box-image -->

                    
                    
                        <span class="price">
                            <ins>
                                <span class="woocommerce-Price-amount amount">
                                    @item.giaban.ToString()
                                    <span class="woocommerce-Price-currencySymbol">đ</span>
                                </span>
                            </ins>
                        </span>
                    

                    <div class="box-text box-text-products text-center grid-style-2">
                        <div class="title-wrapper"><p class="name product-title" style="color:black; font-size:30px; font-weight:700;">@item.tensanpham</p></div>

                    </div><!-- box-text -->
                </div>
            </div>
        </a>
    }
</div>
<div style="margin:0 auto; background-color:black; position:relative;">
    <a href="@Url.Action("ListSanPham","Product")" class="showMore">Xem thêm</a>
</div>
<style>
    .showMore {
        list-style: none;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        padding: 7px 20px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 20px;
        transition: transform .2s linear;
    }

        .showMore:hover {
            color: white;
            transform: translateX(5px);
            border-bottom-right-radius: 100%;
            border-top-right-radius: 100%;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
            text-decoration: none;
        }
</style>

